# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/playwright-report/
/test-results/
/playwright/.cache/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bxnntbzcffweymqumwbf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4bm50YnpjZmZ3ZXltcXVtd2JmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwMTQwODIsImV4cCI6MjA4NDU5MDA4Mn0.OVf00xtguX0bK5YgBO_vVkYHly0V8txR4JX-pZGIM1E
